.modal {
  border-radius: 32px;
  padding: 24px;
}

.modalDiv form {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  row-gap: 20px;
  column-gap: 10px;
}

form input {
  padding: 5px;
  width: 100%;
  border-radius: 8px;
}

.formSection {
  display: flex;
  align-items: center;
  gap: 5px;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.homeNav {
  color: rgba(255, 255, 255, 0.87);
}

.homeNav,
.navigationBtns a {
  width: 100%;
}

.navigationBtns {
  display: grid;
  grid-template: repeat(2, 1fr) / repeat(3, auto);
  justify-items: center;
  gap: 20px;
  width: 75%;
}

.navigationBtns > button {
  grid-column: 1 / 4;
  width: 50%;
}
